{% extends 'template.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center">
            <h2>Install our 2fa mobile app and verify it via QR code below</h2>
            <a href="{{ app_url }}">Verification app</a>
            <br>
            {{ img | safe }}
            <br>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            const checkIsVerified = () => {
                $.ajax({
                    url: '{% url 'story.is_verified' user_id %}',
                    method: 'GET',
                    success: (data) => {
                        console.log(data);
                        if (data['verified']) {
                            location.href = data['redirect'];
                        }
                    }
                });
                setTimeout(checkIsVerified, 1000);
            }
            checkIsVerified();
        });
    </script>
{% endblock %}